In [2]:
import pandas as pd
dict_info = {
    'name': ['Kim', 'Lee', 'Park'],
    'age': [25, 26, 27],
    'email': ['kim1345@gmail.com', 'lee1001@naver.com', 'park4050@snu.ac.kr']
}

In [3]:
df = pd.DataFrame(dict_info)

In [5]:
df.set_index('email')

                    name  age
email
kim1345@gmail.com    Kim   25
lee1001@naver.com    Lee   26
park4050@snu.ac.kr  Park   27

In [6]:
df

   name  age               email
0   Kim   25   kim1345@gmail.com
1   Lee   26   lee1001@naver.com
2  Park   27  park4050@snu.ac.kr